@*@model Domain.SYS_USER*@
@model Service.Account
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>后台登录</title>
    </head>
    <body>
        <div>
            <h2>Index</h2>
        </div>

    </body>
    </html>
